.wy-nav-content {
   max-width: 1350px;
}

.wy-side-nav-search {
    display: block;
    width: 300px;
    padding: .809em;
    margin-bottom: .809em;
    z-index: 200;
    background-color: #fff;
    text-align: center;
    color: #fcfcfc;
}